src/main/mule/mule-chat-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <apikit:config name="mule-chat-sapi-config" api="mule-chat-sapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="mule-chat-sapi-main">
        <http:listener config-ref="Http_Listener" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="mule-chat-sapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="mule-chat-sapi-console">
        <http:listener config-ref="Http_Listener" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="mule-chat-sapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\users:mule-chat-sapi-config">
        <logger level="INFO" message="get:\users:mule-chat-sapi-config" />
        <db:select doc:name="Select Users" doc:id="0266ce55-78aa-41b8-b11d-bf47b6d94a2a" config-ref="Database_Config">
            <db:sql><![CDATA[select * from user]]></db:sql>
        </db:select>
        <ee:transform doc:name="Transform Message" doc:id="a818b6a4-aeee-4426-a3d3-ace059a1355b">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ((user, index) -> {
	userId: user.sl,
	name: user.name,
	socketId: user.socket_id,
	avatar: user.avatar
})]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\users:application\json:mule-chat-sapi-config">
        <db:insert doc:name="Insert User" doc:id="48cc482e-be54-4a56-9535-d1deb5531fd2" config-ref="Database_Config" autoGenerateKeys="true">
            <db:sql><![CDATA[INSERT INTO `user` (`name`,`socket_id`,`avatar`) values (:name, :socketId, :avatar)]]></db:sql>
            <db:input-parameters><![CDATA[#[{
	name: payload.name,
	socketId: payload.socketId,
	avatar: payload.avatar
}]]]></db:input-parameters>
        </db:insert>
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="a104263e-293d-4586-a46f-480c4171ddcb">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "Success",
  message: "User added successfully ",
  userId: payload.generatedKeys."last_insert_rowid()"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\room\(roomId):mule-chat-sapi-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="roomId">attributes.uriParams.'roomId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <db:select doc:name="Select Users in a Room" doc:id="89c82eb9-1c3d-4256-9e64-bb771bcd9b25" config-ref="Database_Config">
            <db:sql><![CDATA[select * from room r, user u where (r.room_id=:room and r.user_id=u.sl)]]></db:sql>
            <db:input-parameters><![CDATA[#[{
	room: vars.roomId as Number
}]]]></db:input-parameters>
        </db:select>
        <ee:transform doc:name="Transform Message" doc:id="9c1c9e18-3be3-4e28-953f-5ffe94de79cf">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ((user, index) ->{
	userId: user.sl,
	socketId: user.socket_id,
	name: user.name,
	avatar: user.avatar	
})]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" message="get:\room\(roomId):mule-chat-api-config" />
    </flow>
    <flow name="put:\users\(userId):application\json:mule-chat-sapi-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <db:update doc:name="Update User" doc:id="c4fdbefe-1dd0-4947-9b52-fb11baa77f31" config-ref="Database_Config">
            <db:sql><![CDATA[update user set socket_id=:socketId, name=:name, avatar=:avatar where sl=:user]]></db:sql>
            <db:input-parameters><![CDATA[#[{
	socketId: payload.socketId,
	name: payload.name,
	avatar: payload.avatar,
	user: vars.userId as Number
}]]]></db:input-parameters>
        </db:update>
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "Success",
  message: "User updated successfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\users\(userId):mule-chat-sapi-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <db:select doc:name="Select" doc:id="cc8cde7c-4078-49cd-8df5-299acc27789f" config-ref="Database_Config">
            <db:sql><![CDATA[select * from user where sl=:user]]></db:sql>
            <db:input-parameters><![CDATA[#[{
	user: vars.userId
}]]]></db:input-parameters>
        </db:select>
        <ee:transform doc:name="Transform Message" doc:id="5d96feb3-8d64-420f-81c3-c683bd5b07d2">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
(payload map ((user, index) -> {
	userId: user.sl,
	name: user.name,
	socketId: user.socket_id,
	avatar: user.avatar
}))[0] default {}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" message="get:\users\(userId):mule-chat-sapi-config" />
    </flow>
    <flow name="get:\room:mule-chat-sapi-config">
        <logger level="INFO" message="get:\room:mule-chat-sapi-config" />
        <db:select doc:name="Select" doc:id="bac2549b-bab3-4098-bc38-57d2ef19bdca" config-ref="Database_Config">
            <db:sql><![CDATA[select * from room]]></db:sql>
        </db:select>
        <ee:transform doc:name="Transform Message" doc:id="26f6c692-961a-4ea2-a7e9-14471e446118">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ((room, index) -> {
	userId: room.user_id,
	roomId: room.room_id
})]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\room\(roomId):mule-chat-sapi-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="roomId">attributes.uriParams.'roomId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <db:delete doc:name="Delete Room" doc:id="7963dc36-fcba-4324-be4f-8362a0da73d4" config-ref="Database_Config">
			<db:sql ><![CDATA[DELETE FROM room WHERE room_id=:roomId;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	roomId: vars.roomId as Number
}]]]></db:input-parameters>
		</db:delete>
		<ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "Success",
  message: "Room deleted successfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\users\(userId):mule-chat-sapi-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <db:delete doc:name="Delete User" doc:id="20399bb7-8497-467c-b89a-65b03b0fa052" config-ref="Database_Config">
			<db:sql ><![CDATA[DELETE FROM user WHERE sl=:userId;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	userId: vars.userId as Number
}]]]></db:input-parameters>
		</db:delete>
		<db:delete doc:name="Delete User from Room" doc:id="7e4439d4-7f54-478c-84a8-29ed74132653" config-ref="Database_Config">
			<db:sql ><![CDATA[DELETE FROM room WHERE user_id=:userId;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	userId: vars.userId as Number
}]]]></db:input-parameters>
		</db:delete>
		<ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "Success",
  message: "User deleted successfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\room:application\json:mule-chat-sapi-config">
		<db:insert doc:name="Insert User to a Room" doc:id="6cb99538-54b7-4773-8844-902a7990afea" config-ref="Database_Config" >
			<db:sql ><![CDATA[INSERT INTO `room` (`room_id`,`user_id`) values (:room, :user)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	room: payload.roomId,
	user: payload.userId
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "Success",
  message: "User added to the room"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
